<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/activation.css">
    
    
</head>
<body>
    <section>
        <h2>Registrazione avvenuta con successo!</h2>
        <h3>Ti è stato inviato un codice via email, immettilo nella casella sottostanze per verificare il tuo account!</h3>
    </section>

    <form method="POST" action="http://localhost:8080/auth/signup/activations">
        <label for="activationCode">Activation Code:</label>
        <input type="text" id="activationCode" name="activationCode" required>
        <button type="submit">Activate</button>
    </form>
</body>
</html>